/*.contenedor {
	    height:80px;
	            display: flex;
		                align-items: center;
				                justify-content: center;

						        }

							        .xd {
									                    width: 5em;
											                } */



													.imagen1{

															margin: 4%;


														    height: 250px;

														            width: 200px;

														    }

														    .imagen2{

															    height: 250px;
															    width: 200px:

														    }
